version: '3.8'

services:
  backend:
    build: ./backend
    container_name: pratham_backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=mysql://root:1234@db:3306/pratham_guru_db
      - JWT_SECRET=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
      - JWT_EXPIRES_IN=24h
      - FRONTEND_URL=http://localhost:3000
    depends_on:
      - db
    networks:
      - app-network
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=http://localhost:8000
    container_name: pratham_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: always

  db:
    image: mysql:8.0
    container_name: pratham_db
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=1234
      - MYSQL_DATABASE=pratham_guru_db
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
